@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles that cannot be expressed in Tailwind */
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  @apply bg-gradient-to-b from-white to-purple-300;
}

.filter-purple {
  filter: brightness(0) saturate(100%) invert(77%) sepia(53%) saturate(4334%)
    hue-rotate(225deg) brightness(75%) contrast(120%);
}

a {
  @apply no-underline text-inherit; /* Tailwind utility classes */
}

section {
  @apply h-screen w-screen overflow-hidden; /* Tailwind utilities */
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
